<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tal sassi</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="../photos/greeting.png">
</head>

<body>
    <header>
        <nav id="nav">
            <a href="#top">
                <h1>טל סאסי</h1>
            </a>
            <ul class="navList">
                <li><a href="#whoAmI">מי אני</a></li>
                <li>דוגמא</li>
                <a href="#footer">
                    <li>צרו קשר</li>
                </a>
            </ul>
        </nav>
    </header>

    <main>
        <div class="imgStart">
            <div class="overlay">
                <h1 id="overlayText">מאמן אישי</h1>
            </div>
        </div>


        <div id="whoAmI">
            <p>
                שחקן מחלקת הנוער באגודת הפועל תל אביב, ושחקן בליגת בוגרים במספר קבוצות בליגות שונות ובמקביל מאמן ילדים
                בבית ספר לכדורסל. חוויתי פציעה קשה בברך ומשם הבנתי שהדרך שלי על המגרש כשחקן כרגע פחות ריאלית והתחלתי את
                דרכי כמאמן. לאחר תקופה החלטתי שזהו עולמי "עולם הספורט" וקיבלתי החלטה שבזה אני רוצה לעסוק. הרחבתי את הידע
                ע"י הסמכת מדריך חדר כושר + מאמן לפיתוח יכולות אתלטיות למשחקי כדור , והתחלתי ללמוד תואר במנהל עסקים
                ברופין בשילוב של עולם הספורט בווינגייט.
            </p>
        </div>

        <center>
            <h2 class="whyMe">מדוע דווקא הילד שלכם צריך להיות במסגרת האימונים שאני מאמן בהם?</h2>
        </center>

        <div class="allCards">
            <div class="card" id="card1">
                <div class="icon" id="icon1"></div>
                <div class="smallText">
                    <p>
                        אך יש להבין שהגוף שלנו היא "המכונה שלנו" , ויש להשריש עיקרון זה לדור ההמשך שימשיך "לטפל במכונה"
                        במיוחד בעידן זה (עידן הטכנולוגי).
                    </p>
                </div>
            </div>

            <center>
                <hr>
            </center>

            <div class="card" id="card2">
                <div class="icon" id="icon2"></div>
                <div class="smallText">
                    <p>
                        לאחר המון שנים בתחום הספורט ובעיקר בענף הכדורסל אני מתעקש על כך שהספורט הוא כלי משמעותי מאוד
                        בעיקר בעידן הטכנולוגי של היום.

                        הספורט מאחד בין כלל התרבויות ושומר על אורח חיים בריא.
                        האימונים שאני מאמן, עיקר מתכונת העבודה היא בזוגות ובקבוצות ככה שחשובה לי הדינמיקה בין הילדים
                        ולהתוות דרך חינוכית על הפרקט.
                    </p>
                </div>
            </div>

            <center>
                <hr>
            </center>

            <div class="card" id="card3">
                <div class="icon" id="icon3"></div>
                <div class="smallText">
                    <p>
                        הספורט בריא מאוד לנפש ולגוף האדם ונכון שאנגלית ומתמטיקה חשוב אם לא יותר! אני מודע שלא כולם יצאו
                        שחקנים מקצוענים אך העובדה של החשיפה לספורט והערבות ההדדית בונה אישיות, וכן משמעותית מאוד לדור
                        העתיד.
                    </p>
                </div>
            </div>

            <center>
                <hr>
            </center>

            <div class="card" id="card4">
                <div class="icon" id="icon4"></div>
                <div class="smallText">
                    <p>
                        אני מאמין שחשיפה לאורך חיים ספורטיבי מקנה התפתחות הן בפן הפיזי והן בפן המנטלי. עולם הספורט חושף
                        את הילדים לקשיים שונים מבדרך כלל וגורם להם להיות בוגרים יותר על ידי התמודדות עם הקשיים הללו.
                    </p>
                </div>
            </div>
        </div>

        <div class="imgWithText">
            <div class="imgCard">
                <div class="bigPhoto" id="bigPhoto1"><img src="../photos/ShasTraining.jpg"
                        alt="Tal Sassi In Basketball Court" width="100%" height="100%"></div>
                <div class="plainText" id="plainText1">
                    <p>אני מאמין בתור אחד שהיה בשני הצדדים של המטבע (מאמן ומתאמן),
                        שהספורט בונה אותך ואת אישיותך! יתר על כך אני סבור שיש המון אחריות למאמנים כי ברגע שיש לנו את
                        הסמכות
                        כמאמנים, אנחנו צריכים להבין שאנחנו גם מחנכים. אחד הדברים שאני מתעקש ודוגל לאורך כל שנותיי כמאמן
                        זה שיחות
                        אישיות, מבחני יכולות, וכן עונשים כאלו ואחרים שצריך, בכדי להציב גבולות לילדים. דבר קריטי נוסף זה
                        שאני
                        משמש דוגמה אישית לילדים זה "מדבק" ואז הם שואפים למקצוענות.
                    </p>
                </div>
            </div>

            <div class="imgCard">
                <div class="bigPhoto" id="bigPhoto2"><img src="../photos/ShasTrophy.jpg"
                        alt="Tal Sassi In Basketball Court" width="100%" height="100%"></div>
                <div class="plainText" id="plainText2">
                    <p>המטרה העיקרית שלי היא קודם כל להכניס את
                        המודעות של חשיבות ענף הספורט בארץ ישראל, אני חושב שברגע שהמודעות תעלה גיוס המשאבים יהיה אחרת
                        וככה
                        המתקנים ישתפרו וגם שכר המאמן , וכך יהיו מאמנים ברמה גבוה יותר. בנוסף כמאמן כושר ומאמן לפיתוח
                        יכולות
                        אתלטיות למשחקי כדור, אני משוכנע שחובה לשלב את אימוני הכושר לדור הצעיר בכדי למנוע פציעות ולשפר
                        יכולות
                        גופניות כאלו ואחרות. אני בטוח שברגע שאתקבל למשרת ניהול ויהיה לי את הכלים לחלק את המשאבים נכון ,
                        אצליח
                        לעמוד במטרותיי ומעבר. .לסיום הספורט הוא מחנך, מקנה ערכים, מלמד , מעצב אישיות , מחבר בין אנשים,
                        ועוד המון
                        דברים חיוביים. אי לכך אני מתעקש ואלחם בשביל בריאותם ואורח חייהם של הדור הצעיר שיקבל את כלל הכלים
                        המקצועיים שמגיע לו בכדי שנוכל לממש את המטרות של כולנו.
                    </p>
                </div>
            </div>
        </div>


        <div class="acolades">
            <ul>
                <li>ניהול מחנות קיץ בכדורסל עם מספר מדריכים תחתיי ומגוון פעילויות לילדים מחוץ למסגרת האולם (למשל לונה
                    פארק) הדורשות ניהול נכון וניסיון שרכשתי עם השנים</li>
                <li>עמידה ביעדים אישיים – קבוצות מלאות , הורים מרוצים , הילדים מתקדמים וכמובן אני כמאמן מרגיש שמשתפר
                    מיום ליום</li>
                <li>מאמן בבית ספר לכדורסל 6 קבוצות מגילאי גן חובה ועד כיתות ו' קבוצות של 15-20 ילדים בקבוצה</li>
                <li>הקניית ערכי חינוך לדור העתיד וערכי ספורט</li>
                <li>תקשורת מול הורים</li>
            </ul>
        </div>


    </main>

    <footer id="footer">

        <form action="/" method="post">
            <label for="name">שם מלא:</label>
            <input type="text" name="name" required>
            <label for="email">מייל:</label>
            <input type="email" name="email" required>
            <label for="message">הודעה:</label>
            <textarea name="message" cols="30" rows="5"></textarea>
            <button type="submit">Send</button>
        </form>

        <h5>&copy; Omer. Vir</h5>
        <div class="allLinkIcons">
            <div class="footerRow"><a href="https://www.google.com/url?q=https%3A%2F%2Fwww.instagram.com%2Ftalsasi9%2F&sa=D&sntz=1&usg=AFQjCNGiAdapbHIA0Jpz6nxWq5AHOkXzfA" target="_blank"><div class="linkIcon" id="linkIcon4"></div></a><a href="https://www.google.com/url?q=https%3A%2F%2Fwww.instagram.com%2Ftalsasi9%2F&sa=D&sntz=1&usg=AFQjCNGiAdapbHIA0Jpz6nxWq5AHOkXzfA" target="_blank"><h6>Instagram</h6></a></div>
            <div class="footerRow"><a href="https://www.google.com/url?q=https%3A%2F%2Fwww.facebook.com%2Ftal.sasi&sa=D&sntz=1&usg=AFQjCNECno5J5W59mGAMOHxqOqfvgZo9ug" target="_blank"><div class="linkIcon" id="linkIcon1"></div></a><a href="https://www.google.com/url?q=https%3A%2F%2Fwww.facebook.com%2Ftal.sasi&sa=D&sntz=1&usg=AFQjCNECno5J5W59mGAMOHxqOqfvgZo9ug" target="_blank"><h6>Facebook</h6></a></div>
            <div class="footerRow"><a href="https://www.google.com/url?q=https%3A%2F%2Fwa.me%2F%252B972508817906&sa=D&sntz=1&usg=AFQjCNHu6Uof3mz1fLNKYrvnjBKRnbtskg" target="_blank"><div class="linkIcon" id="linkIcon3"></div></a><a href="https://www.google.com/url?q=https%3A%2F%2Fwa.me%2F%252B972508817906&sa=D&sntz=1&usg=AFQjCNHu6Uof3mz1fLNKYrvnjBKRnbtskg" target="_blank"><h6>Whatsapp</h6></a></div>
            <div class="footerRow"><a href="mailto: talsasi15@gmail.com" target="_blank"><div class="linkIcon" id="linkIcon2"></div></a><a href="mailto: talsasi15@gmail.com" target="_blank"><h6>Gmail</h6></a></div>
        </div>
    </footer>

    <div class="footerHider"></div>

    <script src="/js/app.js"></script>
</body>

</html>